# Exclude files and directories in top directory
config/.config/*

!.gitignore

!.zshrc

!.zshenv

!**/alacritty/

!**/bspwm

!**/dunst

!**/neofetch

!**/plank/
**/plank/dock*

!**/picom

!**/polybar

!**/rofi

!**/sxhkd

!**/wal/
.**/wal/colorschemes

!**/spicetify/
**/spicetify/Backup
**/spicetify/CustomApps
**/spicetify/Extensions
**/spicetify/Extracted